:root {
    --primary: #141414;
    --secondary: #292929;
    --pozadi: #e6e6e6;
    --button: #cccccc;
    --ramecek: #adadad;
    --odkaz: #474747;
    --darkprimary: #eef0fb;
    --darkodkaz: #ced4f3;

}
