@use 'colors';

body {
    font-family: "Figtree", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary);
}


.header__title {
    font-family: "Caudex", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.header__undertitle {
    font-weight: 700;
    font-size: 14px;
}

.header__where {
    font-family: "Caudex", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.header__info {
    font-size: 22px;
}

.odkaz {
    color: var(--odkaz);
    font-weight: 600;
    font-size: 18.5px;
}



@media screen and (min-width: 850px) {

    .header__title {
     
        font-size: 70px;
    }
    .header__undertitle {
        font-size: 20px;
    }
    
    .header__where {
        font-size: 40px;
    
    }
    
    .header__info {
        font-size: 26px;
    }

    .card__odkaz {
        font-size: 18px;
    }

}