body {
    font-family: "Figtree", Arial, Helvetica, sans-serif;
}


.header__title {
    font-family: "Caudex", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.header__undertitle {
    font-style: italic;
    font-size: 14px;
}

.header__where {
    font-family: "Caudex", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.odkaz {
    color: black;
    font-weight: 600;
}
