@use 'colors';

body {
    font-family: "Figtree", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary);
}


.header__title {
    font-family: "Caudex", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.header__undertitle {
    font-weight: 700;
    font-size: 14px;
}

.header__where {
    font-family: "Caudex", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.header__info {
    font-size: 20px;
}

.odkaz {
    color: black;
    font-weight: 600;
}


