.program__grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
}

.program__radek {
    justify-items: center;
    align-items: left;
}

.program__title::after{
    display: block;
    content: "";
    height: 2px;
    width: 1fr ;
    background-color: var(--secondary);

}

@media screen and (min-width: 1000px) {

    .program__velkygrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px
    }   

}