@use 'colors';
@use 'fonts';
@use 'header';
@use 'footer';
@use 'card';
@use 'button';
@use 'program';
@use 'doproprogram';

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-image: url(/images/background3.jpg);
    
    background-size: 100%;
    width: 80vw;
    margin: 0 auto;
    
}

