@use 'colors';
@use 'fonts';
@use 'header';
@use 'footer';
@use 'card';
@use 'button';
@use 'program';
@use 'doproprogram';
@use 'kontakt';
@use 'margin';


html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}
    

body {
    background-image: url(/images/background.jpg);
    
    background-size: 100%;
    width: 80vw;
    margin: 0 auto;
    max-width: 1800px;

}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url(/images/background-dark.jpg);
        color: white;
    }
}