@use 'colors';
@use 'fonts';
@use 'header';
@use 'footer';
@use 'card';


html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-image: url(/images/background.jpg);
}

